%h3
  사용자 등록
.col-lg-5
  .container
    = render 'form'
.col-lg-3
.col-lg-4
  .panel
    .panel-heading 
      %h4 새로운 사용자 등록.
    .panel-body
      %p 
        Stub Blog를 사용하기 위해서는 사용자 등록을 하셔야합니다.



