[submodule "mission07/expert/junheon"]
	path = mission07/expert/junheon
	url = https://github.com/junheon/dev.study.mission07.git
[submodule "mission07/basic/majestin"]
	path = mission07/basic/majestin
	url = https://github.com/Majestin/post_comment.git
