<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Title</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
